<a
  routerLink="/"
  class="absolute top-0 left-0 z-10"
  color="primary"
  mat-icon-button
  aria-label="Volver"
>
  <mat-icon>arrow_back</mat-icon>
</a>
<button
  class="absolute top-0 right-0 z-10"
  color="primary"
  mat-icon-button
  aria-label="Volver"
  (click)="bookmark()"
>
  <mat-icon *ngIf="bookmarked">bookmark</mat-icon>
  <mat-icon *ngIf="!bookmarked">bookmark_outline</mat-icon>
</button>

<div class="grid grid-cols-1 -mb-8">
  <div class="w-full" *ngIf="article">
    <div
      class="bg-white relative min-h-[20rem] flex items-center justify-center"
      [ngStyle]="{ 'height.px': maxHeight }"
    >
      <img
        class="w-full max-h-screen object-contain"
        [src]="article.selected"
      />
      <!-- <div
        class="bg-fixed bg-contain bg-no-repeat bg-top relative h-96 md:h-screen z-0"
        [style.background-image]="'url(' + article.img + ')'"
      ></div> -->
    </div>
    <div
      class="bg-neutral h-fullrounded-t-lg z-[11] relative pt-4 text-center mb-4"
    >
      <div class="flex justify-center w-full">
        <div class="flex gap-2 overflow-x-auto">
          <button
            mat-raised-button
            color=""
            *ngFor="let image of article.imgs"
            (click)="selectImage(image)"
          >
            <img [src]="image" height="30px" aria-label="Image of product" />
          </button>
        </div>
      </div>
      <h2>{{ article.price | arsCurrency }}</h2>
      <h3>{{ article.title }}</h3>
      <p>
        {{ article.description }}
      </p>
      <div class="flex gap-2 w-full justify-center flex-wrap">
        <a
          mat-flat-button
          class="no-underline"
          color="accent"
          [routerLink]="'/buy/' + article.id"
        >
          <mat-icon>credit_card</mat-icon>
          COMPRAR
        </a>
        <a
          mat-flat-button
          class="no-underline"
          color="accent"
          routerLink="added"
        >
          <mat-icon>shopping_bag_outline</mat-icon>
          Agregar a la bolsa
        </a>
      </div>
    </div>
  </div>
  <aside
    class="gap-2 border-0 border-x border-solid border-border flex md:overflow-hidden overflow-x-scroll bg-white"
  >
    <mat-card
      *ngFor="let article of articles"
      class="border-r border-solid border-border mt-1 h-[200px]"
    >
      <a
        class="no-decoration no-underline text-black flex flex-col overflow-hidden"
        [routerLink]="'/article/' + article.id"
      >
        <mat-card-header>
          <mat-card-subtitle> {{ article.subtitle }}</mat-card-subtitle>
          <mat-card-title>{{ article.title }}</mat-card-title>
        </mat-card-header>
        <img
          class="block object-top"
          [ngClass]="sm ? 'object-cover' : 'object-contain'"
          mat-card-image
          [height]="mobile ? 150 : 150"
          [src]="article.imgs[0]"
          alt="Photo of a Shiba Inu"
        />
      </a>
    </mat-card>
  </aside>
</div>
