<div class="grid grid-cols-[1fr_3fr] min-h-screen">
  <aside class="sidebar border-solid border-0 border-r border-border h-full">
    <ul class="list-none p-0">
      <li class="flex items-center shrink-0" *ngFor="let link of links">
        <a
          class="h-16 w-full flex items-center py-2 px-4 no-underline text"
          [routerLink]="link.link"
          routerLinkActive="active"
        >
          <mat-icon *ngIf="link.icon">{{ link.icon }}</mat-icon>
          <svg
            *ngIf="link.svg"
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            width="24"
          >
            <path fill="#ffddb6" [attr.d]="link.svg" />
          </svg>
          <span class="ml-1">
            {{ link.title }}
          </span>
        </a>
      </li>
    </ul>
  </aside>
  <div class="px-8" [@routeAnimations]="getRouteAnimationData()">
    <router-outlet></router-outlet>
  </div>
</div>
