<a
  routerLink="/"
  class="absolute top-0 left-0 z-10"
  color="accent"
  mat-icon-button
  aria-label="Volver"
>
  <mat-icon>home</mat-icon>
</a>
<div class="">
  <ng-particles
    [id]="id"
    [options]="options"
    [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)"
    class="h-screen w-screen absolute"
  ></ng-particles>
</div>
<div
  class="z-50 flex w-screen h-screen justify-center items-center flex-wrap flex-col gap-4"
>
  <h2 class="w-full text-center">
    Añadido a su bolsa de compras <br />
    ¡Muchas gracias!
  </h2>
  <a mat-raised-button color="primary" class="no-underline" routerLink="/">
    <mat-icon>visibility</mat-icon>
    Seguir viendo
  </a>
  <a mat-raised-button routerLink="/bag" class="no-underline" color="primary"
    >Bolsa <mat-icon>shopping_bag</mat-icon></a
  >
</div>
