<mat-card>
  <mat-card-header>
    <mat-card-subtitle>{{ article.subtitle }}</mat-card-subtitle>
    <mat-card-title>{{ article.title }}</mat-card-title>
  </mat-card-header>
  <img
    class="object-contain"
    mat-card-image
    height="336"
    [src]="article.imgs[0]"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p class="text-black">{{ article.description }}</p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="accent" [routerLink]="'/article/' + article.id"
      >Comprar</a
    >
    <button mat-button>Compartir</button>
  </mat-card-actions>
  <mat-card-footer>
    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
  </mat-card-footer>
</mat-card>
