@media (max-width: 500px) {
  .mat-drawer-opened ~ .mat-drawer-content {
    transition: all 400ms, filter 500ms;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    filter: brightness(0%);
  }

  .mat-drawer-content {
    transition: all 400ms, filter 500ms;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    filter: brightness(100%);
  }
}
