<div class="max-h-screen flex flex-wrap">
  <img
    src="https://firebasestorage.googleapis.com/v0/b/pec-2-c5887.appspot.com/o/solid-wood-furniture-manufacturer.jpg?alt=media"
    class="max-h-screen-5 w-full object-cover"
  />
  <div class="flex flex-wrap absolute top-32 sm:top-40 md:top-48 lg:top-72">
    <a
      mat-raised-button
      color="primary"
      class="ml-12 text-3xl lg:text-5xl sm:h-17 lg:h-20 appear modern no-underline"
      routerLink="/articles"
    >
      <span>Ver catálogo</span> <mat-icon>arrow_forward_ios</mat-icon>
    </a>
    <a
      mat-raised-button
      color="accent"
      class="ml-12 text-3xl lg:text-5xl lg:h-20 appear modern no-underline"
      href="https://api.whatsapp.com/send/?phone=542915204376&text=Hola%2C+pensando+en+casa.+Tengo+una+consulta.&type=phone_number&app_absent=0"
    >
      <span>Whatsapp</span> <mat-icon>arrow_forward_ios</mat-icon>
    </a>
  </div>
  <span class="lg:text-7xl text-3xl sm:text-4xl text cursive subtitle"
    >{{ subtitle }}<span class="animate-flicker">|</span></span
  >
  <span class="sm:text-5xl lg:text-9xl text cursive pec appear"
    >Pensando en casa</span
  >
</div>
<div class="container mx-auto translate-y-4 md:-translate-y-12">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-2">
    <a
      class="no-decoration no-underline text-neutral"
      *ngFor="let article of firstThree(articles)"
      [routerLink]="'article/' + article.id"
    >
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>{{ article.subtitle }}</mat-card-subtitle>
          <mat-card-title>{{ article.title }}</mat-card-title>
        </mat-card-header>
        <img
          class="object-contain"
          mat-card-image
          height="336"
          [src]="article.imgs[0]"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p class="text-black">{{ article.description }}</p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent">Comprar</button>
          <button mat-button>Compartir</button>
        </mat-card-actions>
        <mat-card-footer>
          <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
        </mat-card-footer>
      </mat-card>
    </a>
  </div>
</div>
<div
  class="grid grid-cols-1 lg:grid-cols-2 container gap-y-4 mx-auto mt-8 mb-4 overflow-hidden"
>
  <div class="w-full flex flex-col">
    <div class="flex justify-between items-center px-2">
      <a routerLink="/articles" [queryParams]="{ ids: getItemsIds(articles) }">
        <h4>Más vendidos</h4>
      </a>
      <a
        routerLink="/articles"
        [queryParams]="{ ids: getItemsIds(articles) }"
        mat-button
        color="accent"
        class="text"
        >Ver más</a
      >
    </div>
    <app-carousel [incommingArticles]="articles"></app-carousel>
  </div>
  <div class="w-full flex flex-col">
    <div class="flex justify-between items-center px-2">
      <h4>Nuestra selección</h4>
      <button mat-button color="accent" class="text">Ver más</button>
    </div>
    <app-carousel [incommingArticles]="shuffleArray(articles)"></app-carousel>
  </div>
</div>
