<div class="px-8">
  <h2>Lista de clientes</h2>
  <app-search-bar
    [elements]="clients"
    (searched)="search($event)"
  ></app-search-bar>
  <table mat-table [dataSource]="clients" matSort (matSortChange)="sorting()">
    <ng-container [matColumnDef]="column.name" *ngFor="let column of columns">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por nombre"
      >
        <span class="select-none">{{ column.title }}</span>
      </th>
      <ng-container
        *ngIf="column.name !== 'balance' && column.name !== 'space'"
      >
        <td mat-cell *matCellDef="let client">
          {{ cleanOutput(client[column.name]) }}
        </td>
      </ng-container>
      <ng-container *ngIf="column.name === 'balance'">
        <td mat-cell *matCellDef="let client">
          {{ cleanOutput(client[column.name]) | arsCurrency }}
        </td>
      </ng-container>
      <ng-container *ngIf="column.name === 'space'">
        <td mat-cell *matCellDef="let client">
          <div class="flex gap-1">
            <button type="button" mat-raised-button color="primary">
              Entregar
            </button>
            <button type="button" mat-raised-button color="warn">
              Eliminar
            </button>
          </div>
        </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getColumnNames(columns)"></tr>
    <tr mat-row *matRowDef="let orders; columns: getColumnNames(columns)"></tr>
  </table>
</div>
