<div class="px-8">
  <h2>Lista de órdenes</h2>
  <app-search-bar
    [elements]="ordersObject"
    (searched)="search($event)"
  ></app-search-bar>
  <table mat-table [dataSource]="orders" matSort (matSortChange)="sorting()">
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por nombre"
      >
        <span class="select-none">Nombre</span>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="item">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por artículo"
      >
        <span class="select-none">Artículos</span>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.item }}</td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por dirección"
      >
        <span class="select-none">Dirección</span>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por importe"
      >
        <span class="select-none">Importe</span>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.amount | arsCurrency }}
      </td>
    </ng-container>

    <ng-container matColumnDef="delivered">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Ordenar por entregados"
      >
        <span class="select-none">¿Entregado?</span>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.delivered | yesNo }}
        <button mat-raised-button class="ml-1" color="accent">Entregar</button>
        <button mat-raised-button class="ml-1" color="warn">Cancelar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let orders; columns: columnsToDisplay"></tr>
  </table>
</div>
