<div class="mx-2">
  <h2>Tu bolsa de compras</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non maiores
    consectetur praesentium deserunt ratione, quo repellat saepe laboriosam
    recusandae? Nulla laudantium consequuntur, quod dolorem suscipit dicta
    inventore asperiores repudiandae ratione.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non maiores
    consectetur praesentium deserunt ratione, quo repellat saepe laboriosam
    recusandae? Nulla laudantium consequuntur, quod dolorem suscipit dicta
    inventore asperiores repudiandae ratione.
  </p>
  <hr class="border-border" />
  <p class="text-right">Total: $79.000</p>
  <button mat-raised-button class="w-full" color="accent">
    <mat-icon>credit_card</mat-icon>
    <span>Pagar</span>
  </button>
</div>
